.my-tabbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: -.91rem;
}

.tabs {
    width: 1.85rem;
    height: .55rem;
    font-weight: bold;
    font-size: .26rem;
    color: #c3b8b8;
    text-align: center;
    line-height: .55rem;
    background-size: 100% 100%;
}

.notSelect0 {
    background-image: url("../../assets/img/leftTabDisabled.png");
}

.notSelect1 {
    background-image: url("../../assets/img/centerTwoDisabled.png");
}

.notSelect2 {
    background-image: url("../../assets/img/centerTwoDisabled.png");
}

.notSelect3 {
    background-image: url("../../assets/img/centerTwoDisabled.png");
}

.notSelect4 {
    background-image: url("../../assets/img/rightTabDisabled.png");
}

.select0 {
    background-image: url("../../assets/img/leftTab.png");
}

.select1 {
    background-image: url("../../assets/img/centerTwoTab.png");
}

.select2 {
    background-image: url("../../assets/img/centerTwoTab.png");
}

.select3 {
    background-image: url("../../assets/img/centerTwoTab.png");
}

.select4 {
    background-image: url("../../assets/img/rightTab.png");
}